###############################################################
#  
#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#  
#    http://www.apache.org/licenses/LICENSE-2.0
#  
#  Unless required by applicable law or agreed to in writing,
#  software distributed under the License is distributed on an
#  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#  KIND, either express or implied.  See the License for the
#  specific language governing permissions and limitations
#  under the License.
#  
###############################################################
[Desktop Entry]
Version=1.0
Terminal=false
Icon=openoffice4-startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=openoffice4 %U
MimeType=application/vnd.openofficeorg.extension;
Name=OpenOffice 4.1.3 
GenericName=Office 
GenericName[en]=Office
GenericName[af]=Kantoor
GenericName[ar]=مكتب
GenericName[as]=অফিচ 
GenericName[ast]=Oficina
GenericName[be_BY]=Офіс
GenericName[bg]=Офис пакет
GenericName[bn]=অফিস
GenericName[bo]=ཕབ་དོར།
GenericName[bs]=Office
GenericName[ca]=Oficina
GenericName[ca_XR]=Office
GenericName[ca_XV]=Oficina
GenericName[cs]=Kancelář
GenericName[cy]=Swyddfa
GenericName[da]=Kontor
GenericName[de]=Office
GenericName[el]=Γραφείο
GenericName[en_GB]=Office
GenericName[en_ZA]=Office
GenericName[eo]=Oficejo
GenericName[es]=Office
GenericName[et]=Kontoritöö
GenericName[eu]=Bulegoa
GenericName[fa]=اداری
GenericName[fi]=Toimisto
GenericName[fr]=Bureautique
GenericName[ga]=Oifig
GenericName[gd]=Oifis
GenericName[gl]=Oficina
GenericName[gu]=ઓફિસે
GenericName[he]=משרד
GenericName[hi]=ऑफ़िस
GenericName[hu]=Iroda
GenericName[id]=Perkantoran
GenericName[is]=Skrifstofa
GenericName[it]=Ufficio
GenericName[ja]=Office
GenericName[kid]=9toi6p‖Office
GenericName[kk]=Офис
GenericName[km]=ការិយាល័យ
GenericName[kn]=ಕಛೇರಿ
GenericName[ko]=오피스
GenericName[ku]=Nivîsgeh
GenericName[lt]=Raštinės programos
GenericName[lv]=Birojs
GenericName[mk]=Канцеларија
GenericName[ml]=ഓഫീസ്
GenericName[mr]=ऑफिस
GenericName[my]=ရုံး
GenericName[nb]=Kontor
GenericName[nl]=Kantoor
GenericName[nn]=Kontor
GenericName[nr]=Kantoor
GenericName[nso]=Kantoor
GenericName[oc]=Burotica
GenericName[om]=Waajjira
GenericName[or]=କାର୍ଯ୍ୟାଳୟ
GenericName[pa_IN]=ਆਫਿਸ
GenericName[pl]=Biuro
GenericName[pt]=Office
GenericName[pt_BR]=Escritório
GenericName[ro]=Birou
GenericName[ru]=Офис
GenericName[sh]=Kancelarija
GenericName[si]=කාර්‍යයාලීය
GenericName[sk]=Kancelária
GenericName[sl]=Pisarniški paket
GenericName[sq]=Zyrë
GenericName[sr]=Канцеларија
GenericName[ss]=Kantoor
GenericName[st]=Kantoor
GenericName[sv]=Kontor
GenericName[ta]=அலுவலகம்
GenericName[te]=కార్యలయం
GenericName[th]=สำนักงาน
GenericName[tn]=Kantoor
GenericName[tr]=Ofis
GenericName[ts]=Kantoor
GenericName[ug]=ئىشخانا
GenericName[uz]=Ofis
GenericName[ve]=Kantoor
GenericName[vi]=Văn phòng 
GenericName[xh]=Kantoor
GenericName[zh_CN]=办公室
GenericName[zh_TW]=辦公室
GenericName[zu]=Kantoor
Comment=The office productivity suite compatible to the open and standardized ODF document format.
Comment[en]=The office productivity suite compatible to the open and standardized ODF document format. Supported by Apache OpenOffice.
Comment[ar]=تتوافق مجموعة إنتاجية office مع تنسيق مستند ODF المفتوح والقياسي. مدعوم بواسطة Oracle.
Comment[as]=কাৰ্য্যলয়ৰ উৎপাদনৰ দল মুক্ত আৰু মানপ্ৰাপ্ত ODF ডকুমেন্ট আকৃতিৰ সৈতে মিল । Sun Microsystems এৰে সমৰ্থিত ।
Comment[ast]=El conxuntu d'aplicaciones de productividá d'oficina compatible col formatu abiertu y estándar ODF. Col sofitu d'Apache OpenOffice.
Comment[be_BY]=Набор праграм для офіснай працы, сумяшчальны з адкрытым стандартызаваным фарматам дакументаў ODF. Падтрымліваецца кампаніяй 'Oracle'.
Comment[bg]=Офис пакетът, съвместим с отворения и стандартизиран формат за документи ODF. Поддържан от Apache OpenOffice.
Comment[bo]=ཀྲུང་པེའོ་ཕུའུ་ཧྭ་Office 5.0 ཕབ་དོར་བྱེད།
Comment[bs]=Uredski paket kompatibilan sa otvorenim i standardizovanim ODF formatom. Podržan od strane Oracle-a.
Comment[ca]=El paquet ofimàtic compatible amb el format de document obert i estàndard ODF. Amb el suport de l'Apache OpenOffice.
Comment[ca_XR]=La suite ofimàtica compatible en el format de documents obert i estandardisat ODF. En el soport d'Apache OpenOffice.
Comment[ca_XV]=El paquet ofimàtic compatible amb el format de document obert i estàndard ODF. Amb el suport de l'Apache OpenOffice.
Comment[cs]=Kancelářský balík kompatibilní s otevřeným a standardizovaným formátem ODF. Podporováno projektem Apache OpenOffice.
Comment[cy]=Y casgliad rhaglenni swyddfa sy'n cydweddu gyda fformat dogfen ODF safonol ac agored. Cefnogir gan Oracle
Comment[da]=Kontorproduktivitetspakken er kompatibel med det åbne og standardiserede ODF-dokumentformat. Understøttet af Oracle.
Comment[de]=Die Office-Suite für das offene und standardisierte ODF Dokumentformat. Unterstützt von Apache OpenOffice.
Comment[el]=Η σουίτα εφαρμογών γραφείου είναι συμβατή με όλα τα ανοικτά και επίσημα πρότυπα εγγράφων ODF. Υποστηρίζεται από την Apache OpenOffice.
Comment[en_GB]=The office productivity suite compatible to the open and standardised ODF document format. Supported by Apache OpenOffice.
Comment[en_ZA]=The office productivity suite compatible to the open and standardised ODF document format. Supported by Oracle.
Comment[eo]=La oficeja programaro kongrua kun la dokumenta formato de la libera normo ODF. Subtenata de Sun Microsystems.
Comment[es]=La suite ofimática compatible con el formato de documentos abierto y estandarizado ODF. Con el apoyo de Apache OpenOffice.
Comment[et]=Bürootarkvara komplekt, mis ühildub avatud ja standardiseeritud ODF-dokumendivorminguga. Toetab Sun Microsystems.
Comment[eu]=ODF dokumentu formatu ireki eta estandarrarekin bateragarria den bulegotikako suitea. Apache OpenOffice-k sustatuta.
Comment[fa]=مجموعه نرم‌افزار اداری سازگار با قالب سند آزاد و استاندارد ODF. پشتیبانی شده توسط اراکل.
Comment[fi]=Avoimen ODF-asiakirjanormin kanssa yhteensopiva toimisto-ohjelmisto. Apache OpenOfficen tukema.
Comment[fr]=La suite bureautique libre compatible avec le format de document ODF ouvert et normalisé. Supportée par Apache OpenOffice.
Comment[ga]=Sraith feidhmchlár le haghaidh táirgiúlachta oifige atá comhoiriúnach don fhormáid oscailte chaighdeánach ODF. Tacaíonn Oracle leis.
Comment[gd]=Tha an raon seo de bhathar oifis co-chòrdail leis an fhòrmat fhosgailte is bhun-tomhasach ODF. Le taic Apache OpenOffice.
Comment[gl]=A suite de produtividade ofimática compatíbel co formato estandarizado aberto ODF. Promovida por Apache.
Comment[gu]=ઓફિસ ઉત્પાદકતા અનૂકુળતા ખોલવા અને નિશ્ચિત થયેલ ODF દસ્તાવેજ બંધારણ ને સુસંગત છે. Oracle દ્દારા આધારભૂત છે.
Comment[he]=חבילת היישומים המשרדית תואמת לפורמט הפתוח והתיקני למסמכים בשם ODF. נתמכת על-ידי Apache OpenOffice.
Comment[hi]=यह ऑफ़िस उत्पादकता सूट खुले व मानक ओडीएफ दस्तावेज़ प्रारूप के सुसंगत है। अपाचे ओपनऑफ़िस द्वारा समर्थित।
Comment[hu]=Az irodai programcsomag kompatibilis a nyílt és a szabványosított ODF dokumentumformátummal. Az Apache OpenOffice támogatja.
Comment[id]=Aplikasi produktivitas perkantoran yang kompatibel dengan format dokumen terbuka dan terstandarisasi ODF. Didukung oleh Oracle.
Comment[is]=Skrifstofuvinnslupakki sem styður opið og staðlað ODF skjalasniðið. Stutt af Oracle.
Comment[it]=La suite di produttività per l'ufficio compatibile con il formato standard aperto ODF. Supportata da Apache OpenOffice.
Comment[ja]=オープンで標準化された ODF ドキュメント形式対応の統合オフィスツール。Apache OpenOffice によってサポートされています。
Comment[kid]=+k]swb‖The office productivity suite compatible to the open and standardized ODF document format. Supported by Apache OpenOffice.
Comment[kk]=The office productivity suite compatible to the open and standardized ODF document format. Supported by Apache OpenOffice.
Comment[km]=ឈុត​ផលិតផល​ការិយាល័យ ឆប​គ្នា​នឹង​ទ្រង់ទ្រាយ​ឯកសារ ODF បើក​ចំហ និង​ស្តង់ដារ។ បាន​គាំទ្រ​ដោយ​ Apache OpenOffice ។
Comment[kn]=ಮುಕ್ತ ಮತ್ತು ಮಾನ್ಯವಾಗಿರುವ ODF ದಸ್ತಾವೇಜಿನ ಮಾದರಿಗೆ ಕಛೇರಿ ಉತ್ಪಾದನಾ ಸೂಟ್ ಹೊಂದಿಕೊಳ್ಳುತ್ತದೆ. Oracleನಿಂದ ಬೆಂಬಲಿತವಾಗಿದೆ.
Comment[ko]=이 오피스 생산성 스위트 프로그램은 공개 표준 ODF 문서 형식과 호환되며 Apache OpenOffice가 지원합니다.
Comment[lt]=Raštinės programų rinkinys, suderinamas su atvirąja ir standartizuotąja dokumentų formuote ODF. Rinkinį aptarnauja „Apache OpenOffice“.
Comment[lv]=Biroja programmatūras komplekts, kas ir savietojams ar atvērto un standartizēto ODF dokumentu formātu. Atbalsta Oracle.
Comment[mk]=Канцелариски пакет компатибилен со отворениот и стандардизиран формат за документи ODF. Поддржано од Sun Microsystems.
Comment[ml]=സ്വതന്ത്രവും നിലവാരവുമുള്ള ODF രേഖ രീതിയിമായി പൊരുത്തപ്പെടുന്ന ഓഫീസ് പ്രൊഡക്ടിവിറ്റി സ്യൂട്ട്. സണ്‍ മൈക്രോസിസ്റ്റം ഇതിനെ പിന്തുണയ്ക്കുന്നു.
Comment[mr]=ओपन व प्रमाणीत ODF दस्तऐवज स्वरूपशी सहत्व ऑफिस उपयुक्तता संच. Oracle द्वारे समर्थीत.
Comment[my]=ရုံးသုံးဆော့ဖ်ဝဲတစ်ခုအနေဖြင့် အသုံးပြုရန် ကိုက်ညီမှုရှိပြီး စံသတ်မှတ်ချက်နှင့်ကိုက်ညီမှုရှိသည့် ODF မှတ်တမ်းမှတ်ရာ စီစဉ်ဖွဲ့စည်းမှုပုံစံဖြစ်သည်။ Oracle အနေဖြင့် အထောက်အပံ့ပြုပါ။
Comment[nb]=En kontorpakke som bruker det åpne og standardiserte dokumentformatet ODF. Støttet av Apache OpenOffice.
Comment[nl]=Het kantoorpakket dat compatibel is met de open en gestandaardiseerde documentindeling ODF. Ondersteund door Apache OpenOffice.
Comment[nn]=Kontorpakken som er tilpassa det opne og standardiserte dokumentformatet ODF. Sun Microsystems gjev støtte til pakken.
Comment[oc]=La seguida burotica compatibla amb lo format de document ODF dobèrt e normalizat. Suportada per Sun Microsystems.
Comment[or]=କାର୍ଯ୍ୟାଳୟ ଉତ୍ପାଦନ ମୁକ୍ତ ଏବଂ ମାନକ ODF ଦଲିଲ ଶୈଳୀ ସହିତ ସୁସଂଗତ ମେଳଖାଇଥାଏ। ଏହା Oracle ଦ୍ୱାରା ସମର୍ଥିତ।
Comment[pa_IN]=ਦਫ਼ਤਰ ਪਰੋਡੈਕਟਵਿਟੀ ਸੂਟ ਓਪਨ ਅਤੇ ਸਟੈਂਡਰਡ ODF ਡੌਕੂਮੈਂਟ ਫਾਰਮੈਟ ਨਾਲ ਅਨੁਕੂਲ ਹੈ। ਓਰੇਕਲ ਵਲੋਂ ਸਹਿਯੋਗ ਪ੍ਰਾਪਤ।
Comment[pl]=Pakiet programów biurowych zgodnych z otwartym i zestandaryzowanym formatem dokumentów ODF. Produkt rozwijany i obsługiwany przez Apache OpenOffice.
Comment[pt]=O pacote de produtividade de escritório compatível com o formato de documento ODF aberto e padronizado. Suportado pela Apache OpenOffice.
Comment[pt_BR]=A suíte de produtividade de escritório compatível com o formato de documento ODF, aberto e padronizado. Com suporte da Apache OpenOffice.
Comment[ro]=Suita de productivitate pentru birou compatibilă cu formatul deschis și standardizat ODF. Sprijinită de The Document Foundation.
Comment[ru]=Офисный пакет, совместимый с открытым и стандартизованным форматом документов ODF. При поддержке Apache OpenOffice.
Comment[sh]=Kancelarijski paket saglasan sa standardizovanim otvorenim dokument-formatom. Podržan od strane korporacije Oracle.
Comment[sk]=Kancelársky balík kompatibilný s otvoreným a štandardizovaným formátom dokumentov ODF. Podporovaný projektom Apache OpenOffice.
Comment[sl]=Pisarniški paket, združljiv z odprto in standardizirano vrsto dokumentov ODF. Podprt s strani Apache OpenOffice.
Comment[sr]=Канцеларијски пакет усаглашен са отвореним и стандардизованим ОДФ форматом документа. Подржан од стране Apache OpenOffice-а.
Comment[sv]=Kontorsprogrampaketet är kompatibelt med öppna och standardiserade ODF-dokumentformat. Stöds av Apache OpenOffice.
Comment[ta]=அலுவலக உட்பத்தித்திறன் தொகுதி, திறந்த தரமான ODF ஆவண வடிவமைப்பைக் கொண்டது. சன் மைக்ரோசிஸ்டம்சால் ஆதரிக்கப்படுவது.
Comment[te]=ఆఫీస్ వుత్పాదకత సూట్ అనునది వోపెన్ మరియు ప్రామాణిక ODF పత్రము ఫార్మాట్‌నకు సారూప్యమైంది. Oracle చేత మద్దతించబడును.
Comment[th]=โปรแกรมชุดผลิตภาพสำนักงานนี้เข้ากันได้กับรูปแบบเอกสารเปิดและเป็นมาตรฐานของ ODF สนับสนุนโดยอะปาเชโอเพนออฟฟิศ
Comment[tr]=Ofis verimliliği paketi açık ve standartlaştırılmış ODF belge biçimiyle uyumludur. Apache OpenOffice tarafından desteklenir.
Comment[ug]=مەزكۇر ئىشخانا يۈرۈشلۈك مەھسۇلاتى ئوچۇق ۋە ئۆلچەملىك ODF پۈتۈك فورماتى بىلەن ماسلىشىدۇ. Oracle قوللايدۇ.
Comment[uz]=Ofis paketi ochiq va andoza ODF formati bilan uygʻundir. Sun Microsystems tomonidan qoʻllab-quvvatlanadi.
Comment[vi]=Bộ phần mềm văn phòng này tương thích với định dạng tài liệu mở và được chuẩn hóa dưới định dạng ODF - được hỗ trợ bởi Apache OpenOffice.
Comment[zh_CN]=该办公套件产品与开放的、标准化的 ODF 文档格式兼容。由 Apache OpenOffice提供支持。
Comment[zh_TW]=這是一套與開放式標準 ODF 文件格式相容的辦公室套裝軟體。目前由 Apache OpenOffice 維護。
StartupNotify=true
